Package: python-psutil
Version: 0.4.1-1ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 339
Depends: libc6 (>= 2.2.5), python2.7, python (>= 2.7.1-0ubuntu2), python (<< 2.8)
Section: python
Priority: optional
Homepage: http://code.google.com/p/psutil/
Description: module providing convenience functions for managing processes
 psutil is a module providing an interface for retrieving information on
 running processes and system utilization (CPU, memory) in a portable way
 by using Python, implementing many functionalities offered by tools like
 ps, top and Windows task manager.
 .
 It currently supports Linux, OS X, FreeBSD and Windows.
Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
